.yui3-activeplayer {
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    background: #CCCCCC;
    /* border: 3px solid #33B5E5; */
};

.yui3-activeplayer-token  {
    @extend .yui3-hexagoncell-token-content;
};

.yui3-activeplayer-token-red {
    @extend .yui3-hexagoncell-token-red;
};

.yui3-activeplayer-token-blue {
    @extend .yui3-hexagoncell-token-blue;
};

.yui3-activeplayer-token-orange {
    @extend .yui3-hexagoncell-token-orange;
};

.yui3-activeplayer-token-purple {
    @extend .yui3-hexagoncell-token-purple;
};
