@import "utils";
@import "shapes";

$W: 72px;
/* $W: 82px; */
$H: 62px;
/* $H: 80px; */
// Token size:
$T: 25px;

@import "anims";

.yui3-board {
    position: relative;
    color: grey;
}

.yui3-board .yui3-board-row {
    height: $H / 2;
    margin: 1px;
    padding: 0px;
    white-space: nowrap;
}

.yui3-board .yui3-board-row:nth-child(even) {
    padding-left: 3/4 * $W;
}

.yui3-board .yui3-board-row:last-child {
    height: $H;
}

// -----
// cells
// -----

$cell_bg: url('../images/hex-72-62.png');
$cell_hover_bg: url('../images/hex-hover-72-62.png');
$cell_selected_bg: url('../images/hex-selected-72-62.png');
$cell_clone_bg: url('../images/hex-highlight-clone-72-62.png');
$cell_jump_bg: url('../images/hex-highlight-jump-72-62.png');

@mixin cell-hoverable-bg($bg) {
    background: {
        image: $bg;
        repeat: no-repeat;
        position: center;
    }
    &:hover {
        background: {
            image: $cell_hover_bg, $bg;
            repeat: no-repeat;
            position: center;
        }
    }
}

.yui3-hexagoncell {
    z-index: 1;
    display: inline-block;
    position: relative;
    width: $W;
    height: $H;
    padding: 0px;
    margin: 0px;
    margin-right: $H / 2;

    // Use to center text in the middle
    /* line-height: $H; */
    text-align: center;

    &:hover {
        z-index: 2;
    }
}

.yui3-hexagoncell-content {
    @include cell-hoverable-bg($cell_bg);
    /* /\* @include transition($property: all, $duration: 2s); *\/ */
    /* /\* @include transition($property: -moz-transform, $duration: 1s); *\/ */
}

.yui3-hexagoncell-selected .yui3-hexagoncell-content {
    @include cell-hoverable-bg($cell_selected_bg);
    /* background-color: rgba(0,0,255,0.2); */
    /* @include transform($rotate: 360deg); */
}

.yui3-hexagoncell-disabled {
    opacity: 0;
}

.yui3-hexagoncell-highlight-clone {
    @include cell-hoverable-bg($cell_clone_bg);
}

.yui3-hexagoncell-highlight-jump {
    @include cell-hoverable-bg($cell_jump_bg);
}

.yui3-hexagoncell-token {
    height: $H;
}

// TODO move activeplayer to some reasonable place
.yui3-hexagoncell-token-content {
    position: relative;
    top: ($H - $T) / 2;
    left: ($W - $T) / 2;
    width: $T;
    height: $T;
    // TODO:
    /* @include transition($property: all, $duration: 0.5s); */
}

.yui3-hexagoncell-token-disappear {
    // TODO:
}

.yui3-hexagoncell-token-red {
    background-color: red;
    @include transform($rotate: 15deg);
    border-radius: $T / 4;
    -moz-animation: funkytokens 7s 1s linear infinite, token-emerge 1s 0s;
    -webkit-animation: funkytokens 7s 1s linear infinite, token-emerge 1s 0s;
}

.yui3-hexagoncell-token-blue  {
    background-color: blue;
    @include transform($rotate: 15deg);
    border-radius: $T / 4;
    -moz-animation: funkytokens 7s 1s linear infinite, token-emerge 1s 0s;
    -webkit-animation: funkytokens 7s 1s linear infinite, token-emerge 1s 0s;
}
