.yui3-scores {
  float: right;
  text-align: right; }

.yui3-scores-content {
  width: 400px; }

.yui3-scores-box-content {
  font-weight: bold;
  padding-right: 15px;
  opacity: 0.8;
  display: inline-block;
  background: black;
  /* padding: 10px; */
  margin: 5px;
  border-radius: 8px;
  height: 25px;
  line-height: 25px;
  transition: width 2s ease;
  -moz-transition: width 2s ease;
  -webkit-transition: width 2s ease; }

.yui3-scores-box-content-red {
  background: red; }

.yui3-scores-box-content-blue {
  background: blue; }

.yui3-scores-box-content-orange {
  background-color: #FF961F; }

.yui3-scores-box-content-purple {
  background-color: #9F3FCF; }
