.yui3-activeplayer {
    float: left;
    margin-top: 15px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    background: #FFE8B0;
};

.yui3-activeplayer-token  {

};

// Other stuff concerning activeplayer-token is temporary in hex.scss
